@media screen {
  /* --- Reset Styles --- */
  * {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100%;
    width: 100%;
  }

  /* --- Layout Styles --- */

  body {
    background-image: url('../images/books_01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #333;
    font-family: Futura Bold, Arial Bold, Sans-Serif;
    line-height: 18px;
  }

  p {
    line-height: 40px;
  }

  .logo {
    display: block;
    height: 100%;
    width: 100%;
    align-content: left;
  }


  a.logo:link, a.logo:visited {
    color: #333;
    text-decoration: none;
    border-style: none;
    padding: 0px 0px;
    margin: 0px;
    background-color: black;
  }

  a.logo:hover, a.logo:active {
      border-style: none;
      background-color: black;
  }

  nav {
    display: inline-block;
    background-color: #000000;
    width: 100%;
    height: 100%;
    margin: 0px 0px 20px 0px;
  }

  a:link, a:visited {
    color: #333;
    text-decoration: none;
    margin: 0px 0px 5px 0px;
    padding: 5px 10px;
    border-style: solid;
    border-width: 3px;
    border-color: red;
  }

  a:hover, a:active {
      background-color: red;
      color: white;
  }

  a.menu:link, a.menu:visited {
      color: white;
      background-color: black;
      padding: 14px 25px;
      margin: 0px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      border: none;
  }

  a.menu:hover, a.menu:active {
      background-color: red;
      color: white;
  }

  li {
    display: inline-block;
    margin: 0px 5px 15px 0px;
  }

  li a {
    display: block;
  }

  li form {
    margin: 0px 5px 0px 0px;
  }

  .item-form {
    text-align: right;
    width: 15em;
   }

   #form-header {
     text-align: right;
     width: 240px;
   }

  .wrapper {
    background: #fff;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin: 30px auto;
    max-width: 960px;
    padding: 2.25%; /* 18px / 800px */
    width: 85%;
  }

  h1 {
    font-size: 36px;
    line-height: 54px;
  }

  h2 {
    border-bottom: 2px solid #ccc;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 16px;
  }

  h3 {
    font-size: 18px;
    line-height: 36px;
  }

  p {
    margin-bottom: 18px;
  }

  .main {
    overflow: hidden;
  }

  .content {
    color: #333;
    padding: 10px;
    float: left;
    width: 100%; /* 480px / 800px */
  }

  .sidebar {
    background: #eee;
    border: 1px solid #ccc;
    float: right;
    padding: 2.08333333333%; /* 5px / 240px */
    width: 30%; /* 240px / 800px */
  }

  .sidebar ul {
    font-size: 14px;
  }

  .branding {
    clear: both;
  }

  footer.branding {
    border-top: 2px solid grey;
    margin-top: 20px;
    padding-top: 20px;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: auto;
  }

  .content, .sidebar {
    float: none;
    width: 100%;
  }

  .sidebar {
    background: transparent;
    border: none;
    border-top: 2px solid #ccc;
    padding: 0;
  }

  h1 {
    font-size: 24px;
    line-height: 36px;
  }

  h2 {
    font-size: 18px;
    line-height: 24px;
  }
}
