<h1>Log in to your caboodall account</h1>
<br>
<form action="/login" method="POST">
  <label for="username">Enter Username</label>
  <input type="text" name="username" placeholder="Username" id="username">
  <br></br>
  <label for="password">Enter Password</label>
  <input type="password" name="password" placeholder="Password" id="password">
  <br></br>
  <input type="submit" name="submit" id="submit" value=" Log In ">
</form>
