<div class="content">

<form class="item-form" action="/login" method="POST">
  <h3 id="form-header">Log in to your account</h3>
  <br>
  <label for="username">Username</label>
  <input type="text" name="username" placeholder="Username" id="username">
  <br></br>
  <label for="password">Password</label>
  <input type="password" name="password" placeholder="Password" id="password">
  <br></br>
  <input type="submit" name="submit" id="submit" value=" Log In ">
</form>
<br>
</div>
