<h3>Welcome! Here are your caboodalls:</h3>
<% if flash.has?(:message) %>
  <br>
  <p style="color:#f0ad4e;"><%= flash[:message] %> </p>
<% end %>
<br>
<% current_user.items.each do |i| %>
  <a href="/items/<%= i.slug %>">
    <%= i.title %>
    <br>
    <%= i.creator %>
  </a>
  <br></br>
<% end %>

<p><a href="/new">Add an item to your caboodall</a></p>
<p><a href="/logout">Log Out</a></p>
