<div class="content">

<h3>Welcome! Here are your caboodalls:</h3>
<br>
<% if flash.has?(:message) %>
  <br>
  <p style="color:red;"><%= flash[:message] %> </p>
<% end %>
<% current_user.items.each do |i| %>
  <a class="menu" href="/items/<%= i.slug %>">
    <%= i.title %>
    <br>
    <%= i.creator %>
  </a>
  <br></br>
<% end %>

<p><a href="/new">Add an item to your caboodall</a></p>

</div>
