
<h1>Sign up!</h1>
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
<br>

<form action="/signup" method="POST">
  <label for="username">Enter Username</label>
  <input type="text" name="username" placeholder="Username" id="username">
  <br></br>
  <label for="email">Enter Email Address</label>
  <input type="text" name="email" placeholder="Email Address" id="email">
  <br></br>
  <label for="password">Enter Password</label>
  <input type="password" name="password" placeholder="Password" id="password">
  <br></br>
  <input type="submit" name="submit" value="Sign Up">
</form>
