<h1>Add an item to your Caboodall</h1>
<form action="/items" method="POST">
  <label>Enter item name/title:</label>
  <input type="text" name="title" id="title">
  <br></br>
  <label>Enter creator name:</label>
  <input type="text" name="creator" id="creator"></input>
  <br></br>
  <label>Enter or choose item type:</label>
  <input type="text" name="type" id="type" placeholder="Create new type"></input>
  <br>
  <%Type.all.uniq.each do |type|%>
    <input type="radio" name="type" value="<%= type.name %>" checked> <%= type.name %><br>
    <%end%>
  <br></br>
  <input type="submit" name="submit" value="Create">
</form>
