<h1>Add an item to your Caboodall</h1>
<form action="/items" id="item-form" method="POST">
  <label>Enter item name/title:</label>
  <input type="text" name="title" id="title">
  <br></br>
  <label>Enter creator name:</label>
  <input type="text" name="creator" id="creator"></input>
  <br></br>
  <label>Enter or choose item type:</label>
  <input type="text" name="type_name" id="type_name" placeholder="Create new type"></input>
  <br>
  <select name="types" form="item-form"
  <%Type.all.each do |type|%>
    <option name="type_name" value="<%= type.name %>"> <%= type.name %><br>
    <%end%>
  <br></br>
  <input type="submit" name="submit" value="Add">
</form>
