
<% current_user.items.each do |i| %>
  <%= i.title %>
  <br>
  <%= i.creator %>
  <br></br>
  <% end %>
  <br></br>
  
<p><a href="/new">Add an item to your caboodall</a></p>
<p><a href="/logout">Log Out</a></p>
